/* style.css */

.far.fa-circle-question.shinyhelper-icon {
  padding-left: 20px;
}

.navbar-static-top {
  background-color: #0FD2CB!important;
}

.sidebar-toggle:hover {
  background-color: #00BFB3!important;
}

.logo {
  background-color: #00BFB3!important;
}

.active>a {
  border-left-color:#0FD2CB!important;
}

.treeview>a:hover {
  border-left-color:#0FD2CB!important;
}
